body {
    background: rgb(30 31 32 / 1);
    color: #fff;
}

a {
    text-decoration: none;
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 14px;
    border-radius: 8px;
    transition: background 0.2s ease;
    font-size: 1rem;
}

.sidebar-link:hover {
    background-color: #222;
    border: 1px solid #fff;
    text-decoration: none;
}

.sidebar-logo {
  max-width: 180px;
  /* padding: 0 14px; */
  margin-top: 20px;
  margin-bottom: 20px !important;
}

.card {
    background-color: #1e1e1e !important;
    border: 1px solid #2c2c2c;
}

.navbar {
    background-color: #1a1a1a !important;
}

.form-control,
.btn {
    background-color: #2a2a2a;
    color: #fff;
    border: 1px solid #444;
}

.form-control::placeholder {
    color: #aaa;
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success {
    color: #ccc;
    border-color: #555;
}

.btn-outline-primary:hover {
    background-color: #0d6efd;
    color: #fff;
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #fff;
}

.btn-outline-success:hover {
    background-color: #198754;
    color: #fff;
}

.logo-studyhub {
    max-height: 50px;
    object-fit: contain;
}

.text-muted {
    color: #696969 !important;
}

.postagem-img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    border-radius: 16px;
    margin-top: 10px;
}

.post-usuario {
    font-weight: bold;
    font-size: 0.95rem;
}

.post-usuario small {
    font-weight: normal;
    color: #aaa;
}

.post-actions {
    font-size: 0.9rem;
    color: #aaa;
}

.post-actions i {
    cursor: pointer;
}

.post-actions span:hover {
    color: #1d9bf0;
}

.icon-share {
    font-size: 1rem;
}

#imagemPreview {
  max-height: 350px;
  width: 100%;
  object-fit: contain;
  border-radius: 12px;
  margin-top: 10px;
}

aside {
    border-right: 1px solid #333;
}

.nav-link:hover {
    background-color: #222;
    border-radius: 6px;
}

.comentario-input::placeholder {
  color: #aaa;
  font-style: italic;
}

.comentarios-area .input-group-text {
  cursor: default;
}